.screen3-header {
    text-align: center;
  }
  
  .screen3-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .screen3-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .screen3-header {
    background-color: #d3910d82;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .screen3-link {
    color: #c3ff00;
  }
  
  @keyframes screen3-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  