.home {
    height: 50%;
    width: 100%;
    position: relative;
}

.container-map {
    width: 50%;
    padding: 1rem;
    float: left;
    height: 50%;
    display: flex;
    place-items: center;
}

.map{
    width: 75vh;
    height: 440px;
}

.container-levels {
    width: 50%;
    float: right;
    height: 50%;
    display: grid;
    place-items: center;
    padding: 1rem;
}

.container-levels img{
    width: 75%;
}

@media screen and (max-width:430px){  
    .container-map {
        width: 100%;
        height: 50%;
    }

    .map{
        width: 40vh;
    }

    .container-levels {
        width: 100%;
        height: 50%;
    }
}












